<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    </head>
  <body>

<ul>
<% @files.each do |file| %>
	<li><a href=<%="/data/#{file}" %>><%= file %></a> | <a href="/data/<%= file  %>/edit">Edit</a> </li>
<% end %>
</ul>
</body>
</html>