<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    </head>
  <body>
<% if session[:failure] %>
<%= session.delete(:failure) %>
<% end %>
<% if session[:success] %>
<p><%= session.delete(:success) %></p>
<% end %>
<%= yield %>
</body>
</html>