<h2><%= @contents[@number.to_i - 1] %></h2> 

<h2 class="content-subhead">Table of Contents</h2>

 
<% paragraphs = @chapter.split("\n\n") %>
<% paragraphs.each do |par| %>
<%= par %><br><br>
<% end %>
       